.content {
  /* manage */
}
.content .flex_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .manage_wrap {
  min-width: 250px;
}
.content .manage {
  display: inline-block;
}
.content .manage:not(:last-child) {
  margin-right: 5px;
}
.content .manage::before {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
}
.content .manage.on:before {
  background: url("../img/icon-on.svg") no-repeat center;
}
.content .manage.off:before {
  background: url("../img/icon-off.svg") no-repeat center;
}
.content .manage.memo:before {
  background: url("../img/icon-memo.svg") no-repeat center;
}
.content .manage.modify:before {
  background: url("../img/icon-modify.svg") no-repeat center;
}
.content .manage.setting:before {
  background: url("../img/icon-setting.svg") no-repeat center;
}
.content .manage.report:before {
  background: url("../img/icon-report.svg") no-repeat center;
}
.content .manage.hashtag:before {
  background: url("../img/icon-hashtag.svg") no-repeat center;
}
.content .manage.exposure:before {
  background: url("../img/icon-exposure.svg") no-repeat center;
}
.content .manage.connection:before {
  background: url("../img/icon-connection.svg") no-repeat center;
}
.content .calendar .input_wrap input {
  width: 200px;
  margin-right: 0;
  border: none;
}

/* modal_wrap */
.modal_wrap {
  /* check_wrap */
  /* switch */
}
.modal_wrap .pop1 {
  width: 850px;
  min-width: 850px;
}
.modal_wrap .pop2 {
  width: 650px;
}
.modal_wrap .pop3 {
  width: 450px;
}
.modal_wrap .pop4 {
  width: 540px;
  min-width: 540px;
}
.modal_wrap textarea {
  width: 100%;
  height: 120px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  padding: 15px;
}
.modal_wrap textarea::-webkit-input-placeholder {
  color: #999;
}
.modal_wrap textarea::-moz-placeholder {
  color: #999;
}
.modal_wrap textarea:-ms-input-placeholder {
  color: #999;
}
.modal_wrap textarea::-ms-input-placeholder {
  color: #999;
}
.modal_wrap textarea::placeholder {
  color: #999;
}
.modal_wrap .letters {
  font-size: 12px;
  text-align: right;
  color: #999;
  margin-top: 5px;
}
.modal_wrap .btn_wrap {
  text-align: center;
}
.modal_wrap .btn_wrap button {
  width: 120px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  background-color: #17a2ff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal_wrap .btn_wrap button:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}
.modal_wrap .table_wrap {
  width: 100%;
  max-height: 360px;
  margin-top: 30px;
  overflow-y: auto;
}
.modal_wrap .table_wrap table {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.modal_wrap .table_wrap table tr th:nth-child(1),
.modal_wrap .table_wrap table tr td:nth-child(1) {
  width: 100px;
}
.modal_wrap .table_wrap table tr th:nth-child(2),
.modal_wrap .table_wrap table tr td:nth-child(2) {
  width: 150px;
}
.modal_wrap .table_wrap table tr th:nth-child(3),
.modal_wrap .table_wrap table tr td:nth-child(3) {
  width: 350px;
}
.modal_wrap .table_wrap table thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f5f5f5;
}
.modal_wrap .table_wrap table thead th {
  padding: 10px 3px;
}
.modal_wrap .table_wrap table tbody td {
  padding: 15px 3px;
  border-bottom: 1px solid #e3e3e3;
}
.modal_wrap .table_wrap table tbody textarea {
  width: 350px;
  height: 90px;
  font-size: 13px;
  padding: 10px;
}
.modal_wrap .table_wrap table tbody button {
  width: 45px;
  height: 30px;
  border-radius: 3px;
}
.modal_wrap .table_wrap table tbody button.modify_btn {
  color: #17a2ff;
  border: 1px solid #17a2ff;
  background-color: #ecfaff;
}
.modal_wrap .table_wrap table tbody button.remove_btn {
  color: #999999;
  border: 1px solid #999999;
  background-color: #f3f2f2;
}
.modal_wrap .table_wrap table tbody button.cancle_btn {
  color: #fff;
  background-color: #b8b8b8;
}
.modal_wrap .table_wrap table tbody button.save_btn {
  color: #fff;
  background-color: #17a2ff;
}
.modal_wrap .table_wrap table tbody button:last-child {
  margin-left: 5px;
}
.modal_wrap .check_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 10px;
  height: 210px;
  padding-top: 6px;
  margin-bottom: 10px;
  overflow-y: auto;
}
.modal_wrap .check_wrap span {
  height: 37px;
}
.modal_wrap .check_wrap input[type=checkbox]:checked + label {
  font-size: 14px;
  color: #fff;
  background-color: #17a2ff;
}
.modal_wrap .check_wrap input[type=checkbox] {
  display: none;
}
.modal_wrap .check_wrap input[type=checkbox] + label {
  font-size: 14px;
  border: 1px solid #17a2ff;
  border-radius: 19px;
  background-color: #fff;
  padding: 8px 20px;
  cursor: pointer;
}
.modal_wrap h5 {
  font-size: 15px;
  margin-bottom: 20px;
}
.modal_wrap .radio_wrap {
  margin-bottom: 20px;
}
.modal_wrap .radio_sel1 {
  visibility: hidden;
  font-size: 14px;
  margin-bottom: 20px;
}
.modal_wrap .radio_sel1 input {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  padding-left: 15px;
  margin-right: 10px;
}
.modal_wrap .form_wrap li > div {
  margin-bottom: 12px;
}
.modal_wrap .form_wrap li > div label {
  font-size: 15px;
  font-weight: 500;
}
.modal_wrap .form_wrap li .modal_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
.modal_wrap .form_wrap li .modal_check label,
.modal_wrap .form_wrap li .modal_check span {
  font-size: 14px;
  font-weight: normal;
}
.modal_wrap .form_wrap li .modal_check .date {
  text-align: center;
}
.modal_wrap .form_wrap li input[type=text] {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  padding: 0 8px;
  margin-right: 10px;
}
.modal_wrap .form_wrap li input[type=text].w_l {
  width: 100%;
}
.modal_wrap .form_wrap li input[type=checkbox] {
  margin-right: 7px;
}
.modal_wrap .form_wrap li .code_btn {
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 5px 15px;
  margin-left: 15px;
}
.modal_wrap .form_wrap li .code_btn::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 9px;
  background: url("../img/icon-arrow.svg") no-repeat center;
  margin-left: 8px;
}
.modal_wrap .form_wrap li .check_btn {
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  white-space: nowrap;
  color: #fff;
  background-color: #17a2ff;
  padding: 0 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal_wrap .form_wrap li .check_btn:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}
.modal_wrap .switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
}
.modal_wrap .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.modal_wrap .switch .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 54px;
  background-color: #bbb;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.modal_wrap .switch .slider:before {
  position: absolute;
  content: "";
  left: 5px;
  bottom: 4px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.modal_wrap .switch input:checked + .slider {
  background-color: #17a2ff;
}
.modal_wrap .switch input:checked + .slider:before {
  -webkit-transform: translateX(29px);
          transform: translateX(29px);
}
.modal_wrap .switch .label:before {
  content: "on";
  position: relative;
  color: #fff;
  top: 0px;
  right: 0px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}
.modal_wrap .switch input:not(:checked) ~ .label:before {
  content: "off";
  top: 1px;
  right: -15px;
}/*# sourceMappingURL=manage.css.map */