.content {
	h1 {
		margin-bottom: 25px;
	}

	.table_menu_wrap {
		&>li {
			display: flex;

			.calendar {

				.input_wrap {
					input {
						width: 200px;
						margin-right: 0;
						border: none;
					}
				}
			}

			.select_name {
				height: 30px;
				font-size: 14px;
				font-weight: 500;
				color: #fff;
				border-radius: 3px 0 0 3px;
				background-color: #17a2ff;
				padding: 5px 18px;
			}

			select {
				width: 180px;
				height: 30px;
				font-size: 14px;
				line-height: 1.5;
				color: #222;
				border-radius: 0 3px 3px 0;
				border: 1px solid #cbcbcb;
				border-left: none;
				padding-left: 10px;
				appearance: none;
				background: url(../img/icon-select-arrow.svg) calc(100% - 14px) no-repeat;
				background-color: #fff;
				margin-right: 10px;
			}
		}
	}

	.tab {
		display: flex;
		align-items: center;
		column-gap: 2px;

		.tablinks {
			width: 100px;
			height: 38px;
			font-size: 14px;
			font-weight: 500;
			color: #777;
			border-radius: 3px 3px 0 0;
			border: 1px solid #d4d4d4;
			border-bottom: none;
			background-color: #f5f5f5;

			&.active {
				position: relative;
				top: 1px;
				height: 39px;
				color: #17a2ff;
				border: 1px solid #17a2ff;
				border-bottom: none;
				background-color: #fff;
				z-index: 2;
			}
		}
	}

	.tab_wrap {
		border-top: 1px solid #17a2ff;

		.tabcontent {
			height: 420px;
			padding: 16px;
		}
	}

	.table_wrap {
		.table {
			tbody {
				td {
					padding: 15px 5px !important;
				}
			}
		}
	}
}